.task {
  width: 100%;
  max-width: 736px;
  padding: 16px;
  margin: 0 auto 12px;
  border: solid 1px var(--gray-400);
  border-radius: 8px;
  color: var(--gray-100);
  background-color: var(--gray-500);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.task input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.task span:first-of-type {
  width: 17.45px;
  height: 17.45px;
  border-radius: 50%;
  border: solid 2px var(--blue);
  cursor: pointer;
  margin-right: 16px;
  background-color: transparent;
  transition: background-color 0.5s ease, border 0.5s ease;
}

.task span:first-of-type:hover {
  background-color: var(--blue-dark);
  opacity: 0.2;
}

.task span:first-of-type::after {
  content: "";
  display: none;
}

.task span:first-of-type::after {
  margin-left: 5px;
  margin-top: 3px;
  width: 4px;
  height: 7px;
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.task input[type="checkbox"]:checked ~ span:first-of-type {
  border: none;
  background-color: var(--purple-dark);
}

.task input[type="checkbox"]:checked ~ span:first-of-type:hover {
  opacity: 1;
  background-color: var(--purple);
}

.task input[type="checkbox"]:checked ~ span:first-of-type::after {
  display: block;
}

.task span {
  font-weight: 400;
  font-size: 0.885rem;
  line-height: 1.4;
  color: var(--gray-100);
}

.task input[type="checkbox"]:checked ~ span {
  color: var(--gray-300);
  text-decoration-line: line-through;
}

.task label {
  display: flex;
  max-width: 632px;
}

.task button {
  border-radius: 4px;
  width: 24px;
  height: 24px;
  border: none;
  color: var(--gray-300);
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.task button:hover {
  color: var(--danger);
  background-color: var(--gray-400);
}
